<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>



<body>
    <h3>All chats</h3>
    <form method="get" action="/chats/new">
     <button>
        New chat
    </button>    
    </form>
   
    <% for(let chat of chats){ %>
        <div class="chat">
            <p><strong>From:</strong>
                <%= chat.from %>
            </p>

            <div class="msg">
                <p>
                    <%= chat.msg %>
                </p>

                <form method="GET" action="/chats/<%= chat._id%>/edit">
                    <button>
                        edit
                    </button>
                </form>
            </div>

            <p><strong>Received by:</strong>
                <%= chat.to %>
            </p>
            <p><strong>Date: </strong>

            </p>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %>
</p>
<p><%= chat.created_at.toString().split(" ").slice(0, 4).join(" ") %>
</p>
      
      <div class=" Delete">
                    <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                        <button type="submit" ">Delete</button>
    </form></div>     
  </div >


    
    <% } %>

 

</body>

</html>